streamlit==1.32.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.7.2
scikit-image==0.20.0
scipy==1.10.1
altair==5.0.1
PyPDF2==3.0.1
scikit-learn==1.4.1
openpyxl==3.1.2
biopython==1.81
python-docx==1.1.0
